doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Education
  link(rel="stylesheet", href="/static/css/education.css")
.topnav
  .topnav-right
    a(href='/') Home
    a(href='/experience') Experience
    a(href='/education') Education
    a(href='/skills') Skills
.para
  h2 Education
  p
  h3.class1 Borough of Manhattan Community College, New York, NY
  p.para1
    | Associate in Computer Information System
    br
    |        2018-present
  br

// contact
br
.contact
  h4 CONTACT INFO
  p
    | Christian Mieres
    br
    |       Phone:347-339-6965
    br
    |       Email:chachomieres@gmail.com
    br
    |       NY, USA
