doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Experience
  link(rel="stylesheet", href="/static/css/experience.css")
body
.topnav
  .topnav-right
    a(href='/') Home
    a(href='/experience') Experience
    a(href='/education') Education
    a(href='/skills') Skills
.para
  br
  table
    h3 Birch Coffee
    h4 Store Manager
    p
      | I am currently in the Food and Beverage industry.
      | Transitioning to the IT world.
      | I have 10 + years of experience managing restaurants and events.
// contact
.contact
  h4 CONTACT INFO
  p
    | Christian Mieres
    br
    |       Phone:347-339-6965
    br
    |       Email:chachomieres@gmail.com
    br
    |       NY, USA
