doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Home
  link(rel="stylesheet", href="/static/css/index.css")
.topnav
  .topnav-right
    a(href='/') Home
    a(href='/experience') Experience
    a(href='/education') Education
    a(href='/skills') Skills
div(style='padding-left:16px')
  h1.class Christian Mieres
  p.para
    | My name is Christian Mieres.
    | I am currently finishing Computer Information System at BMCC.
    | I plan to work in the IT world soon.
    | This is a big challenge I'm taking but I'm confident I will soon succeed.
// contact
.contact
  h4 CONTACT INFO
  p
    | Christian Mieres
    br
    |       Phone:347-339-6965
    br
    |       Email:chachomieres@gmail.com
    br
    |       NY, USA
