doctype html

head
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Skills
  link(rel="stylesheet", href="static/css/skills.css")
body
.topnav
  .topnav-right
    a(href='/') Home
    a(href='/experience') Experience
    a(href='/education') Education
    a(href='/skills') Skills
.hi
  h1 My Skills
  p HTML &amp; CSS
  .container
    .skills.html
  p Linux &amp; Unix
  .container
    .skills.css
  p JavaScript &amp; Node
  .container
    .skills.js
  p PHP
  .container
    .skills.php
  p Java
  .container
    .skills.java
br
// contact
.contact
  h4 CONTACT INFO
  p
    | Christian Mieres
    br
    |       Phone:347-339-6965
    br
    |       Email:chachomieres@gmail.com
    br
    |       NY, USA
